:root {
  --orange-base: hsl(25, 100%, 49%);
  --orange-smooth: hsla(25, 100%, 49%, 0.149);
  --black: hsl(0, 0%, 0%);
  --dark: hsl(200, 4%, 14%);
  --white-base: hsl(0, 0%, 100%);
  --red-smooth: hsl(11, 58%, 91%);
  --gray-30: hsl(180, 4%, 89%);

  --font-family: Helvetica, sans-serif;

  /*--header-height: 126px;*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--black);
  color: var(--white-base);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .container {
    padding-left: 70px;
  }
}