.main {
  position: relative;
  padding-bottom: 40px;
}

.mainContent {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}

.planetWrapper {
  position: fixed;
  top: calc((100% - 141px) / 2 + 141px);
  transform: translateY(-50%);
  left: 0;
  z-index: -10;
}

.planet {
  display: block;
  object-fit: contain;
}

.mainTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}


@media (max-width: 1220px) {
  .planet {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .planet {
    width: 100%;
  }

  .planetWrapper {
    left: -30%;
  }
}

/* < 768px */
@media (max-width: 767px) {
  .planetWrapper {
    left: -50%;
  }

  .main {
    padding-left: 70px;
  }
}

@media (max-width: 568px) {
  .planetWrapper {
    left: -90%;
  }
}
