.main {
  position: relative;
}

.mainContent {
  overflow-y: auto;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 20px;
}

.planetWrapper {
  position: fixed;
  top: calc((100% - 141px) / 2 + 141px);
  transform: translateY(-50%);
  left: 0;
  z-index: -10;
}

.planet {
  display: block;
  object-fit: contain;
}

.mainTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}

.distanceUnits {
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  margin-bottom: 24px;
}

.distanceUnits button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: var(--white-base);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.distanceUnits button:hover {
  color: var(--orange-base);
}

.distanceUnits button:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: var(--white-base);
  height: 100%;
  right: calc(var(--gap) / 2 * -1);
}

@media (max-width: 1220px) {
  .planet {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .planet {
    width: 100%;
  }

  .planetWrapper {
    left: -30%;
  }
}

/* < 768px */
@media (max-width: 767px) {
  .planetWrapper {
    left: -50%;
  }

  .main {
    padding-left: 70px;
  }
}

@media (max-width: 568px) {
  .planetWrapper {
    left: -90%;
  }
}
