.planetWrapper {
  position: fixed;
  top: calc((100% - 141px) / 2 + 141px);
  transform: translateY(-50%);
  left: 0;
  z-index: -10;
}

.planet {
  display: block;
  object-fit: contain;
}

@media (max-width: 1220px) {
  .planet {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .planet {
    width: 100%;
  }

  .planetWrapper {
    left: -30%;
  }
}

@media (max-width: 767px) {
  .planetWrapper {
    left: -50%;
  }
}

@media (max-width: 568px) {
  .planetWrapper {
    left: -90%;
  }
}
